.wrapper{
  text-align:center;
}
.wrapper span {
 display: inline-block;
 font-family: Poppins;
 font-size: 30px;
 text-transform: uppercase;
 font-weight: bold;
}
.wrapper span:nth-of-type(2) {
 animation-delay: .05s;
}
.wrapper span:nth-of-type(3) {
 animation-delay: .1s;
}
.wrapper span:nth-of-type(4) {
 animation-delay: .15s;
}
.wrapper span:nth-of-type(5) {
 animation-delay: .2s;
}
.wrapper span:nth-of-type(6) {
 animation-delay: .25s;
}
.wrapper span:nth-of-type(7) {
 animation-delay: .3s;
}
.wrapper span:nth-of-type(8) {
 animation-delay: .35s;
}
.wrapper span:nth-of-type(9) {
 animation-delay: .4s;
}
.wrapper span:nth-of-type(10) {
 animation-delay: .45s;
}
.wrapper span:nth-of-type(11) {
 animation-delay: .5s;
}
.wrapper span:nth-of-type(12) {
 animation-delay: .55s;
}
.wrapper span:nth-of-type(13) {
 animation-delay: 1s;
}
.wrapper span:nth-of-type(14) {
 animation-delay: 1.05s;
}
.wrapper span:nth-of-type(15) {
 animation-delay: 1.1s;
}
.wrapper span:nth-of-type(16) {
 animation-delay: 1.15s;
}
.wrapper span:nth-of-type(17) {
 animation-delay: 1.2s;
}
.wrapper span:nth-of-type(18) {
 animation-delay: 1.25s;
}
.wrapper span:nth-of-type(19) {
 animation-delay: 1.3s;
}
.wrapper span:nth-of-type(20) {
 animation-delay: 1.35s;
}
.wrapper span:nth-of-type(21) {
 animation-delay: 1.4s;
}
.wrapper span:nth-of-type(22) {
 animation-delay: 1.45s;
}
.wrapper span:nth-of-type(23) {
 animation-delay: 1.5s;
}
.wrapper span {
 color: #4d0d0d;
 opacity: 0;
 transform: translate(-155px, 0) scale(.4);
 animation: animate .5s forwards;
}
@keyframes animate {
 40% {
  transform: translate(50px, 0) scale(.7);
  opacity: 1;
  color: #941212;;
 }
 60% {
  color: #ffcfcf;;
 }
 80% {
  transform: translate(0) scale(2);
  opacity: 0;
 }
 100% {
  transform: translate(0) scale(1);
  opacity: 1;
 }
}
